@mixin padding-lr{
    padding-left:$pad;
    padding-right:$pad;
}

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

